
body {
    font-family: {#define name="bodyFont" /};
    font-size: 100%;
    margin: 0;
}

button:focus,
div:focus,
span:focus {
    outline: {focus};
}

.hidden {
    border: 0 none !important;
    width: 0 !important;
    height: 0;
    top: auto;
    position: fixed;
    left: -10000px;
    overflow: hidden;
    z-index: -1;
}

.player {
    height: 477px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    width: 788px;
}

.canvas {
    background-color: #fff;
    height: 439px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    width: 788px;
    border: 1px solid red;
}
