.progress {
    height: 5px;
    width: 100%;
    background-color: {progressBarColor};
}

.control-bar {
    bottom: 0;
    position: absolute;
    width: inherit;
    background: -moz-linear-gradient(center top , #e9eded 0%, #fdfefe 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
}

.control-bar .button {
    display: inline-block;
    font-weight: bold;
    line-height: 12px;
    text-align: center;
    padding: 10px 15px;
    margin: 3px;
    cursor: pointer;
    color: {buttonColor};
    background-color: {#gradient name="buttonBgColor" /};
    border: {#define name="buttonBorder" /};
}

.control-bar-buttons {
    text-align: center;
}

.control-bar .title {
    display: inline-block;
    font-weight: bold;
    line-height: 12px;
    text-align: center;
    padding: 10px 25px;
    margin: 0 10px;
}

.control-bar .button:hover {
    color: {buttonHoverColor};
    background-color: {buttonBgHoverColor};
}
