.progress {
    height: 5px;
    width: 100%;
    background-color: {progressBarColor};
}

.control-bar {
    bottom: 0;
    position: absolute;
    width: inherit;
}

.control-bar .button {
    display: inline-block;
    font-weight: bold;
    line-height: 12px;
    text-align: center;
    padding: 10px 15px;
    margin: 3px;
    cursor: pointer;
    color: {buttonColor};
    background-color: {buttonBgColor};
}

.control-bar-buttons {
    text-align: center;
}

.control-bar .title {
    display: inline-block;
    font-weight: bold;
    line-height: 12px;
    text-align: center;
    padding: 10px 25px;
    margin: 0 10px;
}

.control-bar .button:hover {
    color: {buttonHoverColor};
    background-color: {buttonBgHoverColor};
}